body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fe;
}

.navbar {
    background-color: #ffffff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    background-color: #fff;
    border-right: 1px solid #e9ecef;
}

.sidebar .nav-item {
    margin-bottom: 0.5rem;
}

.sidebar-sticky {
    margin-top: 50px;
}

.main-content {
    margin-left: 256px;
    padding: 2rem;
}

.footer {
    background-color: #ffffff;
    border-top: 1px solid #e9ecef;
    padding: 0.7rem;
    text-align: center;
}