h1,
a {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Crete Round', serif;
    font-family: 'Gloock', serif;
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}



.navbar {
    font-size: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 10px;
    z-index: 9999;
}

.table-responsive {
    max-height: 500px;
    overflow-y: auto;
}

.container {
    margin-top: 80px;
}